/* style.css */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
min-height: 50vh;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
background: #1c0c25;
font-family: "Poppins", sans-serif;
}

.card {
max-width: 33rem;
background: #998ca0;
margin: 0 1rem;
padding: 1rem;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
width: 100%;
border-radius: 0.5rem;
}

.star {
font-size: 60px;
cursor: pointer;
}

.one {
color: rgb(255, 0, 0);
}

.two {
color: rgb(255 67 67);
}

.three {
color: rgb(255 249 1);
}

.four {
color: rgb(255 249 1);
}

.five {
color: rgb(255 249 1);
}
